<h1>Start a Demo</h1>
<p>This is where you can add some exciting information about your production, etc.<br>You could also collect some additional data if you wish.</p>
<%= form_tag demos_path, method: :post do %>
  <%= submit_tag 'Start Demo', class: 'button' %>
<% end %>
